.grey-block{
    background-color: #333333;
    padding-bottom: 170px;
}
.fresh-news{
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    color: #fff;
    padding-top: 20px;
}
.news-blocks{
    position: relative;
}
.newsPicture{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.news-cards{
    position: relative;
    top: -100px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
}
