.foot-up {
  background-color: rgb(0, 0, 0);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.foot {
  padding: 30px 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10rem;
}
.footer-title {
  color: #fff;
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 1rem;
  padding-bottom: 5px;
  border-bottom: 2px solid #ccc;
}
.foot-item {
  margin-bottom: 10px;
}
.foot-link {
  color: rgb(201, 200, 200);
  list-style: none;
  text-decoration: none;
}
.foot-link:hover {
  color: #fff;
}
.foot-down {
  background-color: rgb(255, 255, 255);
  padding: 0 15px;
}
.icons {
  display: flex;
}
.icon {
  list-style: none;
  margin-left: 1rem;
}
.icon-img {
  width: 32px;
  transition: .5s;
}
.icon-img:hover{
  transform: scale(1.2);
}
.data {
  color: #bbb;
  font-weight: bold;
  font-size: 14px;
}
