.contact-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
.card {
  padding: 20px 0 30px 40px;
  background-color: #333;
  color: #fff;
}
.orange-card {
  background-color: #f79900;
}
.card-title {
  font-size: 36px;
  font-weight: 900;
}
.bold-weight {
  margin-top: 20px;
  font-weight: 900;
}
.normal-weight {
  margin-top: 7px;
}
.card-email {
  margin-top: 30px;
}
.map {
  max-width: 100%;
}
.content {
  padding: 80px 0;
}
.contact-text {
  font-size: 16px;
  color: #333;
  line-height: 148.2%;
  margin-top: 0.7rem;
}
.contact-text:nth-child(3) {
  margin-top: 2rem;
}
.card-icons {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
}
.card-icon {
  list-style: none;
}
.questions-content {
  max-width: 100%;
  display: flex;
  padding: 85px 0;
}
.questions-block {
  max-width: 60%;
}
.question-title {
  font-weight: 900;
  font-size: 72px;
  line-height: 97.7%;
}
.question-slogan {
  margin-top: 50px;
  font-size: 22px;
  line-height: 19, 73px;
  color: #000000;
}
.computer {
  margin-top: 45px;
  max-width: 200%;
}
.questions-form {
  margin-left: 100px;
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.question-label {
  font-size: 16px;
  line-height: 148.2%;
  color: #000000;
  font-weight: 700;
}
.question-input {
  width: 471px;
  height: 66px;
  border: 3px solid #bbbbbb;
  box-sizing: border-box;
  padding: 21px 27px;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 23px;
}
.question-textarea {
  resize: none;
  height: 100px;
}
.question-btn {
  width: 471px;
}
.question-agree {
  margin-top: 30px;
  font-weight: 300;
  font-size: 12px;
  line-height: 148.2%;
  color: #000000;
}
